<%- include('head.ejs'); %>
<body>  
<%- include('header.ejs'); %>
<div class="container">
  <h1>明日以降のお弁当注文状況</h1>
  <div class="description">
    修正や取り消しはこのシステムではできませんので、渡辺（chiemi@a.tsukuba-tech.ac.jp）までご連絡ください。
  </div>
  <ul>
  <% for(row of results){ %>
      <li>
        <%= row.order_date %> <%= row.name %> <%= row.number %>個　
      </li>
  <% } %>
  </ul>
</div>
</body>
  